.cell {
    width: 50px;
    height: 50px;
    background-color: white;
}

.new {
    width: 50px;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}

.container {
    display: grid;
}